{% extends 'base.html.twig' %}
{% block body %}
  <main class="container">
    <a href="{{ path('app_blog') }}" class="button is-info mt-6"><i class="fas fa-angle-left mr-2"></i> Retour aux articles</a>
    <h1>{{ post.title }}</h1>
    <p>Publié le : {{ post.createdAt|date('d M Y ') }}</p>
    <section class="main-content my-6">{{ post.content|raw }}</section>
    <p class="is-flex is-justify-content-center">
      <a href="{{ path('builder_form_js') }}" class="button is-primary">Testez les nouveautés dès maintenant</a>
    </p>
  </main>
{% endblock %}
