{% extends '/site/siteBase.html.twig' %}

{% block body %}
  <section class="hero is-primary is-small py-6">
    <div class="container hero-body">
      <h1 class="is-size-1 has-text-white-ter">{{ site.nomSite }}</h1>
      <p class="is-size-2">{{ site.descriptionSite }}</p>

      <a href="#contact" class="button is-secondary is-medium my-4">Nous contacter</a>
    </div>
  </section>
  <section class="container">
    <div class="columns my-6">
      {% for product in site.products %}
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-3by2 is-128x128"></figure>
            </div>
            <div class="card-content">
              <h3>{{ product.name }}</h3>
              <p class="my-4">Nous proposons ceci Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, excepturi.</p>
              <div class="card-cta is-flex is-justify-content-end">
                <a href="#contact" class="button is-secondary">Acheter pour {{ product.price }}€</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}

{% block specialStyles %}
  <script>
    const themeColors = JSON.parse('{{ site.themeColors | json_encode | raw }}')
    document.querySelectorAll('.is-primary').forEach((el) => {
      el.style.backgroundColor = themeColors['primary']
    })
    //get is-secondary and set their background-color
    document.querySelectorAll('.is-secondary').forEach((el) => {
      el.style.backgroundColor = themeColors['secondary']
    })
    //get is-secondary and set their background-color
    document.querySelectorAll('h1, h2, h3, h4').forEach((el) => {
      el.style.color = themeColors['tertiary']
    })
  </script>
{% endblock %}
